<% include ../partials/header %>

<div class="container">
    <h1 class="warp-title">Characters</h1>
    <div class="row">
        <div class="warp-character col-sm-2">
            <h2>Weather Generator</h2>
            <a href="/gens/weather" class="btn btn-primary">Generate Weather</a>
        </div>

        <div class="warp-character col-sm-2">
            <h2>Encounter Generator</h2>
            <a href="/gens/encounters" class="btn btn-primary">Generate Encounters</a>
        </div>

        <div class="warp-character col-sm-2">
            <h2>Warp Effect Generator</h2>
            <a href="/gens/warpeffects" class="btn btn-primary">Generate Warp Effects</a>
        </div>

        <div class="warp-character col-sm-2">
            <h2>Altered Creature Generator</h2>
            <a href="/gens/creatures" class="btn btn-primary">Generate Creatures</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>